<a [routerLink]="['/list',  'mens_outerwear']">
  <img src="assets/images/mens_outerwear.jpg">
</a>
Men's Outerwear

<a [routerLink]="['/list',  'ladies_outerwear']">Ladies Outerwear
<img src="assets/images/ladies_outerwear.jpg">
</a> Ladies Outerwear

<div>
  <a [routerLink]="['/list',  'mens_tshirts']">Men's T-Shirts
  <img src="assets/images/mens_tshirts.jpg">
  </a> Men's T-Shirts
</div>
<div>
  <a [routerLink]="['/list',  'ladies_tshirts']">Ladies T-Shirts
  <img src="assets/images/ladies_tshirts.jpg">
  </a> Ladies T-Shirts
</div>